
.loader {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #fff;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}